@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@700&display=swap');



/* utilities */
html{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1, h2, a, button{
    font-family: 'Rubik', sans-serif;
}
@media (max-width: 576px){

}
/* utilities END */


/* bootstrap rewrite */
.c-btn{
    background-color: #FFC500;
    border: 0;
    border-radius: 0;
    color: #fff;
}
.c-btn:hover{
    color: #FFC500;
    background-color: #fff;
}
.c-btn-inv{
    border: 0;
    border-radius: 0;

    color: #FFC500;
    background-color: #fff;
}
.c-btn-inv:hover{

    background-color: #FFC500;
    color: #fff;
}

@media (max-width: 576px){

}
/* bootstrap rewrite END */


/* header */
header{
    position: fixed;
    width: 100%;
    z-index: 99;
}

@media (max-width: 576px){
    
}
/* header END */


/* jumbotron */
.first-screen{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    color: white;
}
.first-screen__text{
    width: 50%;
}
.first-screen__title {
    font-family: 'Rubik', sans-serif;
    font-size: 70px;
    line-height: 70px;
    text-shadow: 1px 2px black;
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
.first-screen__title_highlighted {
    font-size: 80px;
    color: #FFC500;
}
.first-screen__promocode{
    width: 50%;
    box-shadow: 0 0 100px 10px rgba(255, 197, 0, 0.7);
    animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
		box-shadow: 0 0 100px 10px rgba(255, 197, 0, 0.7);
	}

	70% {
		box-shadow: 0 0 100px 20px rgba(255, 197, 0, 0.5);
	}

	100% {
		box-shadow: 0 0 100px 15px rgba(255, 197, 0, 0.5);
	}
}

@media (max-width: 576px){

    .first-screen__text{
        width: 100%;
    }
    .first-screen__title {
        font-size: 50px;
        line-height: 50px;
    }
    .first-screen__title_highlighted {
        font-size: 60px;
        color: #FFC500;
    }
    .first-screen__promocode{
        width: 100%;
    }
}
/* jumbotron END */


/* text-block */

.text-block {
    margin: 0 0 20px 0;
}
.text-block h2{
    font-size: 40px;
}
.text-block__wrapper {
    background-color: #fff;
    padding: 40px;
}
.text-block__text{
    font-size: 18px;
}
.text-block__image {
    width: 100%;
    margin: 0 0 20px 0;
}
.text-block__image:last-child{
    margin: 0;
}
.text-block__button {
    margin: 0 0 20px 0;

}
.text-block__apps {
}

.text-block__header {
    width: 100%;
    background-color: #FFC500;
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 50px;
}
.text-block__index {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    color: white;
    margin: 0 50px 0 0;
}


.text-block__header-text {
    color: white;
    font-size: 18px;
}


@media (max-width: 576px){
    .text-block h2{
        font-size: 30px;
    }
    .text-block__wrapper {
        padding: 20px;
    }
    .text-block__header {
        flex-direction: column;
        padding: 10px;
        align-items: flex-start;
    }
}
/* text-block END */


/* app-dowload */


@media (max-width: 576px){
    
}
/* app-dowload END */


/* promocode */
.promocode {
    height: 200px;
    background-color: red;
    text-transform: uppercase;
}
.code {
    height: 70%;
    background-color: #fff;
    border: 2px solid #FFC500;
    color: #FFC500;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
}
.buttons {
    height: 30%;
    width: 100%;
    color: white;
}
.buttons a{
    height: 100%;
    width: 50%;
    color: white;
    background-color: #00A9FD;
}
.buttons button{
    height: 100%;
    width: 50%;
    text-transform: uppercase;
    color: white;
}

/* promocode END */


/* list */
.list{
    padding: 0;
    border: 2px solid #FFC500;

}
.list li{
    list-style: none;
}
.list li .list__title{
    background: #FFC500;
    padding: 10px;
}
.list li .list__title h2{
    margin: 0;
    color: white;
}
.list li p{
    background: white;
    padding: 10px;
    margin: 0;
}

/* list END */

/* payment */
.payment{
    background-color: #000;
    padding: 20px;
}
.payment h2{
    color: white;
}
/* payment END */


.round-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.round-buttons__button {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.round-buttons__button a svg{
    margin: 0 0 10px 0;
    color: #FFC500;
}
.round-buttons__button a{
    width: 180px;
    height: 180px;
    border: 2px solid #FFC500;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}
.round-buttons__button a:hover{
    text-decoration: none;
    border: 2px solid #00A9FD;

}
.round-buttons__button a:hover svg{
    color: #00A9FD;
}
.round-buttons__title{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 12px;
    width: 150px;
}

.circle{
    counter-reset: list-counter;
    list-style: none;
}
.circle li{
    margin: 1.5em 0;    
}
.circle li:before{
    box-sizing: unset;
    content: counter(list-counter);
    counter-increment: list-counter;
    width: 1em;
    height: 1em;
    padding: .5em;
    margin-right: 1em;
    border-radius: 50%;
    border: .25em solid #ccc;
    
    background: #FFC500;
    color: #fff;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    line-height: 1.2em;
}

@media (max-width: 576px){
    .circle{
        padding: 0;
    }
}